#welcome{
    height:100vh; background: 
    linear-gradient(88deg,rgba(0,0,0,1), rgba(0,0,0,0.4)), 
    url('{{ $hero_bg->image_link }}') ;
    display:flex;
    background-repeat:no-repeat;
    background-size:cover;
}